*{margin:0;padding:0;list-style: none;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-tap-highlight-color:rgba(0,0,0,0);-ms-tap-highlight-color:rgba(0,0,0,0);-o-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
body{font-size: 12px;}

.store aside.menu{position: fixed;left: 0;top: 41px;bottom: 41px;width: 80px;overflow: scroll;background-color: #ebebeb;}
.store aside.menu li{text-align: center;padding:10px 10px 10px 5px;}
.store aside.menu li.current{background-color: #fff;color: #fe4c5a;}

.store aside.list{position: fixed;right: 0;top: 41px;bottom: 41px;left: 80px;overflow: scroll;background-color: #fff;padding-left: 10px;}
.store aside.list li{border-bottom: 1px solid #eee;padding-top: 10px;padding-bottom: 8px;margin-left: 5px;position: relative;}
.store aside.list li .add0{position: absolute;right: 10px;bottom: 8px;width: 45px;height: 25px;background: url(../images/cart.png) no-repeat center center;background-size: 80%;display: none;}
.store aside.list li .add1{width: 90px;height: 30px;position: absolute;right: 10px;bottom: 8px;}
.store aside.list li .add1 a{width: 28px;height: 28px;display: block;float: left;}
.store aside.list li .add1 span{width:30px;height:28px;line-height:28px;text-align:center;display:block;float:left;overflow:hidden;font-size:14px;}
.store aside.list li .add1 a.reduce{background:url(../images/store-reduce-able.png) no-repeat center center;background-size:cover;}
.store aside.list li .add1 a.add{background:url(../images/store-increase.png) no-repeat center center;background-size:cover;}
.store aside.list li .title{font-size: 14px;color: #222;padding-right: 20px;line-height: 120%;}
.store aside.list li .price{color: #fe4c5a;}
.store aside.list li .sale{color: #999;}

footer.shop{position: fixed;left: 0;right: 0;bottom: 0;height: 40px;border-top: 1px solid #fe4c5a;background-color: #fff;z-index: 10;}
footer.shop .money{float: left;margin:8px 8px 8px 12px;font-size: 16px;color: #ff5000;font-weight: bold;}
footer.shop .money span{display: inline-block;}
footer.shop .money #amount{position:relative;width:12px;height:12px;text-align:center;line-height:130%;border: 1px solid #fe4c5a;color: #fe4c5a;border-radius: 100%;padding:5px;font-size: 12px;margin-right: 5px;-webkit-transform:translateY(-1px);-ms-transform:translateY(-1px);-moz-transform:translateY(-1px);transform:translateY(-1px);background: #fff;}
footer.shop .money #price{font-size: 16px;color: #ff5000;font-weight: bold;}
footer.shop .go{height: 28px;line-height: 28px;margin:6px 10px;float: right;border-radius: 3px;color: #fff;padding:0 6px;background-color: #fe4c5a;font-size: 14px;}